<div class="container">
    <div class="row">
        <div class="col-md-1 col-xs-1 margin-top-10 text-center">
            <a href="HomePage.html"><i class="icmn-checkmark3 icons color-white font-size-40"></i></a>
        </div>
        <div class="col-md-11 col-xs-11 margin-top-10">
            <h3 class="color-white margin-bottom-0"><span class="color-label">#</span>Проверочные∙Листы</h3>
            <p class="color-white hidden-md-down">Проверочные листы Государственного контроля(надзора),
                муниципального контроля и
                самопроверки ЮЛ и ИП</p>
        </div>
    </div>
</div>