<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="menu">
                <div class="menu-info-block">
                    <div class="left">
                        <div class="header-buttons">
                            <div class="dropdown">
                                <a href="javascript: void(0);" class="">
                                    <i class="icmn-home6"></i>
                                    <span class="hidden-lg-down">Главная</span>
                                    <span class="caret"></span>
                                </a>
                            </div>
                            <div class="dropdown">
                                <a href="ListSearch.html" class="">
                                    <i class="icmn-files-empty"></i>
                                    <span class="hidden-lg-down">Работа с листами</span>
                                    <span class="caret"></span>
                                </a>
                            </div>
                            <div class="dropdown">
                                <a href="javascript: void(0);" class="">
                                    <i class="icmn-book2"></i>
                                    <span class="hidden-lg-down">Все о проверочных листах</span>
                                    <span class="caret"></span>
                                </a>
                            </div>
                            <div class="dropdown">
                                <a href="javascript: void(0);" class="dropdown-toggle dropdown-inline-button"
                                   data-toggle="dropdown" aria-expanded="false">
                                    <i class="dropdown-inline-button-icon icmn-user2 color-white"></i>
                                    <span class="hidden-lg-down">Личный кабинет</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="" role="menu">
                                    <a class="dropdown-item" href="javascript:void(0)"><i
                                            class="dropdown-icon icmn-user"></i>
                                        Профиль</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="javascript:void(0)"><i
                                            class="dropdown-icon icmn-circle-right"></i> Мои листы</a>
                                    <a class="dropdown-item" href="javascript:void(0)"><i
                                            class="dropdown-icon icmn-circle-right"></i> Сообщения</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="javascript:void(0)"><i
                                            class="dropdown-icon icmn-exit"></i>
                                        Выход</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>