<div class="page-content-inner single-page-login-alpha">
    <div class="single-page-block margin-top-50">
        <div class="row">
            <div class="col-xl-12">
                <div class="single-page-block-inner">
                    <div class="single-page-block-form">
                        <form id="form-validation" name="form-validation" method="POST">
                            <div class="form-group">
                                <h1 class="font-size-26 text-center">
                                    <small>ВХОД В ЛИЧНЫЙ КАБИНЕТ</small>
                                </h1>
                                <label class="form-label">Логин</label>
                                <input id="validation-email"
                                       class="form-control color-black"
                                       placeholder="Email или логин"
                                       name="validation[email]"
                                       type="text"
                                       data-validation="[EMAIL]"
                                       data-validation-message="Некорректный email">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Пароль</label>
                                <input id="validation-password"
                                       class="form-control password color-black"
                                       name="validation[password]"
                                       type="password" data-validation="[L>=6]"
                                       data-validation-message="Пароль должен быть длинее 6 символов"
                                       placeholder="********">
                            </div>
                            <div class="form-group">
                                <a href="javascript: void(0);" class="pull-right link-blue link-underlined">Забыли
                                    пароль?</a>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="example6" checked>
                                        Запомнить меня
                                    </label>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary width-150" href="javascript: void(0);">
                                    Войти
                                </button>
                                <span class="register-link">
                                        или <a href="" class="link-blue link-underlined margin-left-10">зарегистрироваться</a>
                                    </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-page-block-footer text-center">
        <ul class="list-unstyled list-inline">
            <li><a href="javascript: void(0);">Ссылка</a></li>
            <li class="active"><a href="javascript: void(0);">Активная ссылка</a></li>
            <li><a href="javascript: void(0);">Ссылка</a></li>
            <li><a href="javascript: void(0);">Ссылка</a></li>
        </ul>
    </div>
    <!-- End Login Alpha Page -->
</div>