<div class="container">
    <div class="row padding-30 justify-content-center">
        <div class="col-md-3">
            <p class="text-center font-size-80 color-white" id="counterSheet"></p>
            <p class="color-white text-center">Проверочных листов размещено на портале</p>
        </div>
        <div class="col-md-3">
            <p class="text-center font-size-80 color-white" id="counterCheking"></p>
            <p class="color-white text-center">Проверок онлайн выполнено с использованием электронных листов</p>
        </div>
    </div>
    <div class="row padding-bottom-20 justify-content-center">
        <div class="col-md-5">
            <div class="search-block">
                <div class="input-group placeholder-white">
                    <input type="text" class="form-control color-white" name=""
                           placeholder="Поиск проверочного листа"
                           id="l8">
                    <span class="input-group-btn">
                            <a href="javascript: void(0);" class="btn btn-info">
                                Поиск
                            </a>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>