.header {
  height: 60px;
  background-color: #546e7a;
}

.icons {
  border: solid 3px #0288d1;
}

.information {
  background-image: url("../img/1.jpg");
  background-color: rgba(0, 0, 0, .5);
  background-blend-mode: darken;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.title {
  font-size: 20px;
  font-stretch: condensed;
  text-align: center;
  color: #263238;
  margin-top: 20px;
}

.font-stretch {
  font-stretch: condensed;
}

.placeholder-white input[type="text"]::-webkit-input-placeholder {
  color: #ffffff;
}

.placeholder-white input[type="text"]::-moz-placeholder {
  color: #ffffff;
}

.caption {
  position: absolute;
}

.form-control {
  background-color: transparent;
  //color: #ffffff;
}
.capabilities {
  border: 1px solid #eceff4;
  border-radius: 5px;
  padding: 10px 5px;
  background-color: #ffffff;
}

.faq .nav-tabs-horizontal {
  min-height: 373px;
  padding-left: 10px;
  padding-right: 10px;
}

.recently-posted {
  border-top: 2px solid #1976d2;
}

.recently-posted:hover {
  background-color: #1976d2;
  color: #ffffff;
}
.info-title a h4 {
  opacity: 0.7;
}

.info-title .shadow:hover h4 {
  opacity: 1.0;
}

.info-title a i {
  opacity: 0.7;
}

.info-title .shadow:hover i {
  opacity: 1.0;
}

.info-title a:hover p {
  text-decoration: underline;
}

.info-title a:hover i {
  color: #827ca1;
}

.dot:hover {
  border-bottom: 1px dashed #ffffff;
}

.question.answer1 .answer-text {
  background-color: #dcedc8;
}

.question.answer2 .answer-text {
  background-color: #ffebee;
}

.question.answer3 .answer-text {
  background-color: #f5f5f5;
}

