.capabilities {
  border: 1px solid #eceff4;
  border-radius: 5px;
  padding: 10px 5px;
  background-color: #ffffff;
}

.faq .nav-tabs-horizontal {
  border: 1px solid #eceff4;
  min-height: 373px;
  border-radius: 5px;
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}

.info-title a h4 {
  opacity: 0.7;
}

.info-title .shadow:hover h4 {
  opacity: 1.0;
}

.info-title a i {
  opacity: 0.7;
}

.info-title .shadow:hover i {
  opacity: 1.0;
}

.info-title a:hover p {
  color: #46be8a;
}
